# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Static / Generated
static/images/*.png
static/images/*.jpg

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic
alembic/versions/*.pyc

# others
.ARCHITECTURE.md
.AGENTS.md